In [2]:
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [3]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from scipy import stats

In [6]:
activity_data = pd.read_csv("Outputs/output_file_acc.csv")
activity_data.head()
prof_act = activity_data.loc[activity_data['Profile'] =='MG']
prof_act.head()

,Date_time,X,Y,Z,ts,Profile,Activity
0,2020-01-09 11:17:28.568,0.190048,-0.078262,-0.986176,1578568648,MG,stand
1,2020-01-09 11:17:28.671,0.140366,-0.068359,-0.998215,1578568648,MG,stand
2,2020-01-09 11:17:28.772,0.003952,-0.032806,-0.969467,1578568648,MG,stand
3,2020-01-09 11:17:28.872,-0.010345,0.084564,-0.947189,1578568648,MG,stand
4,2020-01-09 11:17:28.971,0.116348,-0.303986,-1.067520,1578568648,MG,stand

In [7]:
prof_act.to_csv("Outputs/MG_all_activities.csv")