In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
new_test_data = pd.read_csv("Outputs/WISDM_ACtivity_File_acc.csv")
new_test_data["Datetime"] = pd.to_datetime(new_test_data["timestamp"])
#file_36df = new_test_data.loc[new_test_data['user-id'] ==36]
#file_42df = new_test_data.loc[new_test_data['user-id'] ==42]

#file_36df.dropna()
#file_36df.head()
new_test_data["Datetime"]=new_test_data['Datetime'].dt.strftime('%H:%M:%S')
new_test_df = new_test_data[["activity","user-id","x-axis","y-axis","z-axis","Datetime"]]
new_test_df.head()

  activity  user-id    x-axis     y-axis    z-axis  Datetime
0  Jogging       33 -0.694638  12.680544  0.503953  13:38:25
1  Jogging       33  5.012288  11.264028  0.953424  13:38:26
2  Jogging       33  4.903325  10.882658 -0.081722  13:38:26
3  Jogging       33 -0.612916  18.496431  3.023717  13:38:26
4  Jogging       33 -1.184970  12.108489  7.205164  13:38:26

In [28]:
new_test_df.to_csv("Outputs/activityTracker.csv")

In [18]:
file_36df.to_csv("Outputs/file_36df.csv")
file_42df.to_csv("Outputs/file_42df.csv")